In [195]:
import pandas as pd
import numpy as np

### Importing the Dataset

In [196]:
%pip install kagglehub # installing kaggle hub if missing

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

Use this if you don't have dataset on your local machine

In [197]:

# import kagglehub
# import os
# # Download latest version
# path = kagglehub.dataset_download("zusmani/pakistans-largest-ecommerce-dataset")
# csv_path = os.path.join(path,'Pakistan Largest Ecommerce Dataset.csv')
# df = pd.read_csv(csv_path)

In [198]:
# If you have dataset on your own macine in the same directory where this notebook is placed
df = pd.read_csv('Pakistan Largest Ecommerce Dataset.csv')

C:\Users\khana\AppData\Local\Temp\ipykernel_14876\3706970670.py:2: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Pakistan Largest Ecommerce Dataset.csv')

### Understanding the data

In [199]:
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

In [200]:
df.shape

(1048575, 26)

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447346 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
 21  Unnamed: 21            0 non-null       float64
 22  Unnamed: 22            0 non-null       float64
 23  Unnamed: 23            0 non-null       float64
 24  Unnamed: 24            0 non-null       float64
 25  Unnamed: 25            0 non-null       float64
dtypes: float64(13), object(13)
memory usage: 208.0+ MB

### Data Cleaning and Wrangling

#### Removing the Unnamed Columns
##### They have 0 non-null values so they contribute nothing to our knowledge

In [202]:
df.drop(['Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'],axis = 1,inplace = True)

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447346 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
dtypes: float64(8), object(13)
memory usage: 168.0+ MB

#### Removing the ID's Columns
As they add nothing to our Analytical knowledge

In [204]:
df.drop(['item_id','increment_id','Customer ID'],axis = 1,inplace = True)

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   status                 584509 non-null  object
 1   created_at             584524 non-null  object
 2   sku                    584504 non-null  object
 3   price                  584524 non-null  float64
 4   qty_ordered            584524 non-null  float64
 5   grand_total            584524 non-null  float64
 6   category_name_1        584360 non-null  object
 7   sales_commission_code  447346 non-null  object
 8   discount_amount        584524 non-null  float64
 9   payment_method         584524 non-null  object
 10  Working Date           584524 non-null  object
 11  BI Status              584524 non-null  object
 12   MV                    584524 non-null  object
 13  Year                   584524 non-null  float64
 14  Month                  584524 non-null  float64
 15  Customer Since         584513 non-null  object
 16  M-Y                    584524 non-null  object
 17  FY                     584524 non-null  object
dtypes: float64(6), object(12)
memory usage: 144.0+ MB

In [206]:
df['Month'].unique()

array([ 7.,  8.,  9., 10., 11., 12.,  1.,  2.,  3.,  4.,  5.,  6., nan])

In [207]:
df['Year'].unique()

array([2016., 2017., 2018.,   nan])

In [208]:
df['M-Y'].unique()

array(['7-2016', '8-2016', '9-2016', '10-2016', '11-2016', '12-2016',
       '1-2017', '2-2017', '3-2017', '4-2017', '5-2017', '6-2017',
       '7-2017', '8-2017', '9-2017', '10-2017', '11-2017', '12-2017',
       '2-2018', '1-2018', '3-2018', '4-2018', '5-2018', '6-2018',
       '7-2018', '8-2018', nan], dtype=object)

#### Dropping the M-Y column as it redundant
It is just a composition of Month and year of order

In [209]:
df.drop(['M-Y'],axis = 1,inplace = True)

#### Dropping the Month and Year as they can be inferred from the created_at date

In [210]:
df.drop(['Month'],axis = 1,inplace = True)
df.drop(['Year'],axis = 1,inplace = True)

#### Dropping the working date colum as it is same as created_at which makes it redundant

In [211]:
df.drop(['Working Date'],axis = 1,inplace = True)

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   status                 584509 non-null  object
 1   created_at             584524 non-null  object
 2   sku                    584504 non-null  object
 3   price                  584524 non-null  float64
 4   qty_ordered            584524 non-null  float64
 5   grand_total            584524 non-null  float64
 6   category_name_1        584360 non-null  object
 7   sales_commission_code  447346 non-null  object
 8   discount_amount        584524 non-null  float64
 9   payment_method         584524 non-null  object
 10  BI Status              584524 non-null  object
 11   MV                    584524 non-null  object
 12  Customer Since         584513 non-null  object
 13  FY                     584524 non-null  object
dtypes: float64(4), object(10)
memory usage: 112.0+ MB

### Setting DataTypes according to the data in the fields
This will also help us in optimizing space usage per row

Firstly using snake case for all the column names

In [213]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [214]:
df = df.rename(columns={'category_name_1': 'category_name'})

In [215]:
df['status'] = df['status'].astype('category') # Converting order status datatype to category
df['bi_status'] = df['bi_status'].astype('category')
# MV column contains , to convert it into integer we first have to remove the ,
df['mv'] = df['mv'].str.strip().str.replace(',', '')
df['mv'] = pd.to_numeric(df['mv'], errors='coerce')
df['created_at'] = pd.to_datetime(df['created_at'])
# quantity con't be 2.5 or 3.5 it would be an integer ## integer takes less space then float
df['qty_ordered'] = df['qty_ordered'].astype('Int32')

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   status                 584509 non-null  category
 1   created_at             584524 non-null  datetime64[ns]
 2   sku                    584504 non-null  object
 3   price                  584524 non-null  float64
 4   qty_ordered            584524 non-null  Int32
 5   grand_total            584524 non-null  float64
 6   category_name          584360 non-null  object
 7   sales_commission_code  447346 non-null  object
 8   discount_amount        584524 non-null  float64
 9   payment_method         584524 non-null  object
 10  bi_status              584524 non-null  category
 11  mv                     582292 non-null  float64
 12  customer_since         584513 non-null  object
 13  fy                     584524 non-null  object
dtypes: Int32(1), category(2), datetime64[ns](1), float64(4), object(6)
memory usage: 95.0+ MB

#### Removing the Duplicated Rows

In [217]:
df.duplicated().sum()

np.int64(573761)

In [218]:
df = df.drop_duplicates()

In [219]:
df.duplicated().sum()

np.int64(0)

In [220]:
df.shape

(474814, 14)

### Catering with the null values

In [221]:
df.isnull().sum()

status                       16
created_at                    1
sku                          18
price                         1
qty_ordered                   1
grand_total                   1
category_name                63
sales_commission_code    108599
discount_amount               1
payment_method                1
bi_status                     1
mv                         1701
customer_since               12
fy                            1
dtype: int64

In [222]:
# Percentage of Null values across all the columns
df.isnull().sum()/df.shape[0]*100

status                    0.003370
created_at                0.000211
sku                       0.003791
price                     0.000211
qty_ordered               0.000211
grand_total               0.000211
category_name             0.013268
sales_commission_code    22.871904
discount_amount           0.000211
payment_method            0.000211
bi_status                 0.000211
mv                        0.358246
customer_since            0.002527
fy                        0.000211
dtype: float64

In [223]:
df[df['price'].isnull()]

,status,created_at,sku,price,qty_ordered,grand_total,category_name,sales_commission_code,discount_amount,payment_method,bi_status,mv,customer_since,fy
584524,NaN,NaT,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
df = df[~df['price'].isnull()] # removing the row where price is null

In [225]:
df.isnull().sum()

status                       15
created_at                    0
sku                          17
price                         0
qty_ordered                   0
grand_total                   0
category_name                62
sales_commission_code    108598
discount_amount               0
payment_method                0
bi_status                     0
mv                         1700
customer_since               11
fy                            0
dtype: int64

#### Dealing with remainng Null values

In [226]:
## To resovle \\N and nan values
df['category_name'].unique()

array(["Women's Fashion", 'Beauty & Grooming', 'Soghaat',
       'Mobiles & Tablets', 'Appliances', 'Home & Living',
       "Men's Fashion", 'Kids & Baby', '\\N', 'Others', 'Entertainment',
       'Computing', 'Superstore', 'Health & Sports', 'Books',
       'School & Education', nan], dtype=object)

In [227]:
df[df['sku'].isnull()]

,status,created_at,sku,price,qty_ordered,grand_total,category_name,sales_commission_code,discount_amount,payment_method,bi_status,mv,customer_since,fy
14846,canceled,2016-08-13,NaN,0.0,1,0.0,\N,\N,0.0,cod,Gross,NaN,2016-8,FY17
20676,canceled,2016-09-01,NaN,0.0,1,0.0,\N,\N,0.0,cod,Gross,NaN,2016-8,FY17
39838,canceled,2016-10-07,NaN,0.0,1,0.0,\N,\N,0.0,cod,Gross,NaN,2016-7,FY17
39839,canceled,2016-10-07,NaN,0.0,3,0.0,\N,\N,0.0,cod,Gross,NaN,2016-7,FY17
124968,refund,2016-12-10,NaN,0.0,1,0.0,\N,\N,0.0,cod,Valid,NaN,2016-11,FY17
125636,refund,2016-12-12,NaN,0.0,1,0.0,\N,\N,0.0,cod,Valid,NaN,2016-7,FY17
125811,refund,2016-12-13,NaN,0.0,1,0.0,\N,\N,0.0,cod,Valid,NaN,2016-7,FY17
149597,refund,2017-02-07,NaN,0.0,1,0.0,\N,\N,0.0,cod,Valid,NaN,2017-2,FY17
170249,canceled,2017-03-21,NaN,0.0,1,6952.0,\N,\N,0.0,cod,Gross,NaN,2017-3,FY17
170401,canceled,2017-03-22,NaN,0.0,1,1873.0,\N,\N,0.0,cod,Gross,NaN,2017-3,FY17
173040,refund,2017-03-23,NaN,0.0,1,0.0,\N,\N,0.0,cod,Valid,NaN,2016-8,FY17
175411,refund,2017-03-26,NaN,0.0,1,0.0,\N,\N,0.0,cod,Valid,NaN,2016-11,FY17
238273,canceled,2017-06-07,NaN,0.0,1,0.0,\N,\N,0.0,cod,Gross,NaN,2016-11,FY17
316422,cod,2017-10-12,NaN,0.0,2,0.0,\N,0,0.0,cod,Valid,NaN,2017-8,FY18
325391,order_refunded,2017-11-01,NaN,18335.0,1,18335.0,Entertainment,\N,0.0,cod,Valid,18335.0,2017-11,FY18
325402,canceled,2017-11-01,NaN,16110.0,1,16110.0,Entertainment,\N,0.0,cod,Gross,16110.0,2017-11,FY18
325602,order_refunded,2017-11-02,NaN,16110.0,1,16110.0,Entertainment,C-RWP-31924,0.0,cod,Valid,16110.0,2017-11,FY18

In [228]:
df['category_name'] = df['category_name'].replace('\\N', np.nan)

In [229]:
# We can infer category name and sku from each other but if they both are null we have to drop those rows
df = df.dropna(subset=['sku', 'category_name'], how='all')

In [230]:
df.isnull().sum()

status                       15
created_at                    0
sku                           3
price                         0
qty_ordered                   0
grand_total                   0
category_name              4805
sales_commission_code    108598
discount_amount               0
payment_method                0
bi_status                     0
mv                         1686
customer_since               11
fy                            0
dtype: int64

In [231]:
# ONly 3 sku values are null so fill them with unkown
df['sku'] = df['sku'].fillna('Unknown')

In [232]:
# Filling customer_since as we cannot impute it so filling it with unkown
df['customer_since'] = df['customer_since'].fillna('Unknown')

In [233]:
# Impouting category names from sku using mode technique
df['category_name'] = df.groupby('sku')['category_name']\
                          .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan))

C:\Users\khana\AppData\Local\Temp\ipykernel_14876\1588044795.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan))

In [234]:
# For those missing valeus where the sku can't determine the category name cuz we can't find any similar sku with same category
df['category_name'] = df['category_name'].fillna('Other')

In [235]:
df.isnull().sum()

status                       15
created_at                    0
sku                           0
price                         0
qty_ordered                   0
grand_total                   0
category_name                 0
sales_commission_code    108598
discount_amount               0
payment_method                0
bi_status                     0
mv                         1686
customer_since                0
fy                            0
dtype: int64

In [236]:
## Inconsistencies over here
df['status'].value_counts()

status
complete          194776
canceled          143051
received           69815
order_refunded     54781
refund              7815
cod                 2805
paid                1128
closed               451
pending               41
payment_review        41
holded                31
processing            27
fraud                  9
pending_paypal         7
exchange               4
\N                     2
Name: count, dtype: int64

In [237]:
df['status'] = df['status'].astype(str).str.strip().str.lower().replace({'\\n': np.nan, 'nan': np.nan})

status_map = {
    "complete": "completed",
    "received": "completed",
    "paid": "completed",
    
    "canceled": "cancelled",
    "closed": "cancelled",
    
    "order_refunded": "refunded",
    "refund": "refunded",
    "exchange": "refunded",   # exchange is similar to return/refund
    
    "processing": "processing",
    "payment_review": "processing",
    
    "pending": "pending",
    "pending_paypal": "pending",
    "holded": "pending",

    "fraud": "fraud",

    'cod': 'other' # Cod is a payment method not order status
}

df['status'] = df['status'].map(status_map)
df['status'] = df['status'].fillna('other')

In [238]:
print(df['status'].unique())

['completed' 'cancelled' 'refunded' 'fraud' 'pending' 'other' 'processing']

In [239]:
df.isnull().sum()

status                        0
created_at                    0
sku                           0
price                         0
qty_ordered                   0
grand_total                   0
category_name                 0
sales_commission_code    108598
discount_amount               0
payment_method                0
bi_status                     0
mv                         1686
customer_since                0
fy                            0
dtype: int64

In [240]:
len(df['sales_commission_code'].unique()) # This column is not useful for our analysis
# Just filling it now later on we will decide weather to remove it or keep it
df['sales_commission_code'] = df['sales_commission_code'].fillna('Unknown')

In [241]:
df.sample(5)

,status,created_at,sku,price,qty_ordered,grand_total,category_name,sales_commission_code,discount_amount,payment_method,bi_status,mv,customer_since,fy
277423,completed,2017-08-05,KureshiC_KC-SSILYPFMW-6A,499.00,1,2872.00,Men's Fashion,\N,0.00,cod,Valid,499.0,2017-8,FY18
122069,cancelled,2016-12-04,qmobile_Noir Z12PRO - 5.5-Gold,20999.00,1,20999.00,Mobiles & Tablets,\N,0.00,cod,Gross,20999.0,2016-12,FY17
236234,cancelled,2017-06-03,ajmery_Ajmery-100-28,949.05,1,1099.05,Men's Fashion,\N,0.00,Payaxis,Gross,949.0,2017-6,FY17
198771,completed,2017-04-28,SMSM_20866,130.00,1,3167.00,Superstore,\N,17.73,jazzwallet,Net,130.0,2016-10,FY17
565594,completed,2018-07-11,ROO5AE983F167CA8,190.00,1,258.01,Superstore,Unknown,299.99,Easypay_MA,Valid,190.0,2016-9,FY19

In [242]:
# Imputing MV(merchandise value i:e the amount the merchandise would get) its the price without any adjustments including discount
df["mv"] = (df["price"] * df["qty_ordered"])

In [243]:
df.isnull().sum()

status                   0
created_at               0
sku                      0
price                    0
qty_ordered              0
grand_total              0
category_name            0
sales_commission_code    0
discount_amount          0
payment_method           0
bi_status                0
mv                       0
customer_since           0
fy                       0
dtype: int64

In [244]:
# Resolving inconsistencies in payment method column
df['payment_method'].unique()

array(['cod', 'ublcreditcard', 'mygateway', 'customercredit',
       'cashatdoorstep', 'mcblite', 'internetbanking', 'marketingexpense',
       'productcredit', 'financesettlement', 'Payaxis', 'jazzvoucher',
       'jazzwallet', 'Easypay', 'Easypay_MA', 'easypay_voucher',
       'bankalfalah', 'apg'], dtype=object)

In [245]:
df['payment_method'].value_counts()

payment_method
cod                  248849
Payaxis               72200
Easypay               58665
jazzwallet            26455
bankalfalah           18664
easypay_voucher       17195
jazzvoucher           10907
Easypay_MA            10466
customercredit         7192
apg                    1558
ublcreditcard           725
mygateway               572
internetbanking         458
mcblite                 414
cashatdoorstep          327
productcredit           119
marketingexpense         18
financesettlement        15
Name: count, dtype: int64

In [246]:

payment_map = {
    "cod": "COD",
    "cashatdoorstep": "COD",

    "ublcreditcard": "Credit/Debit Card",
    "bankalfalah": "Credit/Debit Card",
    "mygateway": "Credit/Debit Card",
    "apg": "Credit/Debit Card",

    "internetbanking": "Internet Banking",
    "Payaxis": "Payaxis",

    "Easypay": "Easypay",
    "Easypay_MA": "Easypay",
    "easypay_voucher": "Easypay",

    "jazzwallet": "JazzCash",
    "jazzvoucher": "JazzCash",

    "mcblite": "MCB Lite",

    "customercredit": "Store Credit",
    "productcredit": "Store Credit",
    "financesettlement": "Store Credit",
    "marketingexpense": "Store Credit",
}
df["payment_method_clean"] = df["payment_method"].map(payment_map)

In [250]:
df['payment_method_clean'].unique()

array(['COD', 'Credit/Debit Card', 'Store Credit', 'MCB Lite',
       'Internet Banking', 'Payaxis', 'JazzCash', 'Easypay'], dtype=object)

In [251]:
df.to_csv("cleaned_dataset.csv", index=False)